body{ 
  background-color: white;
}

#profile_image{
    border: 2px dotted black;
}

.layout{
    color: #0000ff;
    font-family: cursive;
}

.myheader{
  background-image: url('https://sabrina_marshal.gitlab.io/first-website/assets/images/landscape.jpg');
  color:white;
  text-align:center;
  background-repeat:no-repeat;
  background-size: 1275px 485px;
}

.profile-pic{
  border-radius:50%;
}

.carousel-item{
  height:500px;
  text-align: center;
  background-color:black;
}

.item1 {
background-color:black;
}

.item2 {
background-color:black;
}

.item3 {
background-color:black;
}




